/**
 * Default WP_resume stylesheet. Feel free to override with your own stlyes
 * @package wp_resume
 * @since 1.0a
 */
 
/* Post Title */
.resume.hide-title .entry-title {display:none;}

/* Header */
.resume header {text-align:center; margin-bottom: 25px; background: none; display:block;}	
.resume header h2 { font-size: 48px; letter-spacing: 2px; font-weight: bold; background: none; margin:0 !important;}
.resume header ul {list-style: none; padding: 0px;}
.resume header ul li {display: inline; padding: 0 50px 0 50px; margin-bottom:0px;}
.resume header h2 a {text-decoration: none; color: #000;}

/* Summary */
.resume summary { display: block; margin-bottom: 15px;}

/* Sections */
.resume section {margin-bottom:20px; display:block;}
.resume section header {text-align: left; font-size: 20px; font-weight: bold; margin-bottom: 20px; border-bottom: 1px solid black; }
.resume section header a, .resume section header a:visited {color: #000;}

/* Blocks */
.resume article { margin-bottom: 10px; }
.resume article ul {clear:both; text-align:justify; padding-left:16px; list-style-type:square; margin:0 !important;}
.resume article header {border: 0;}
.resume .orgName {float: left; font-size: 16px; text-transform: uppercase;  }
.resume .orgName a, .resume .orgName a:visited {color: #000;}
.resume .location {float:right; color: #aaa; font-size: 14px;}
.resume .title {font-style: italic; float:left; clear:left;  font-size: 15px; }
.resume .title a, .resume .title a:visited {color: #000;}
.resume .date {float:right; color: #aaa; clear:right; font-size: 14px;}
.resume .details {clear: both; text-align: justify; margin-bottom: 10px;font-size: 14px; display: block; }
.resume .organization .details, .resume organization .title {margin:0;}
.resume .organization .details { width: 100%;}
.resume .details .post-edit-link {float:right; display: none; padding-left: 10px; margin-top: -2em;}
.resume .organization:hover .post-edit-link {display:inline;}

/* Clearfix */
.resume .clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.resume .clearfix {	display: inline-block;}
html[xmlns] .resume .clearfix {	display: block;}
* html .resume .clearfix {	height: 1%; }
